* {
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
}
.page-container {
  text-align: center;
  margin: auto;
  width: 50%;      
  padding: 10px;
  border:1px dotted grey;
  margin-top:20px;
  margin-bottom: 20px;
}    
.tanslation-wrapper {  
  float: right;
}
.language-options {
  width: 200px;
}
.downloads-container {  
  background-color: #f2f3f5;
  margin-bottom: 20px;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 5px;
}
.side-by-side-parent {
  display: flex;
  height: auto;
  padding: 3px;  
}
.side-by-side-child {
  width: 50%;  
  padding: 2px;  
  margin: 2px;
}

/*  ************** text ***************   */   
.coming-soon-text {            
  font-weight: bolder;
  font-size: 52px;
  line-height: 1.5;
  font-stretch: condensed;            
}        
.yellow-text {            
  color: lightgreen;            
}
.green-text {            
  color: lightgreen;            
}
.red-text {            
  color: lightgreen;         
}
.countdown-text {
  color: darkgrey;
  font-weight: bolder;
}
.coming-soon-footer {
  padding: 32px;
  margin-top: auto;
  height:150px;
  width:auto;
  background-color: darkgray;
  color: #c5c5c5;
}
.coming-soon-tagline-text {
  font-weight: bold;
  font-size: 12px;        
  color: #000;
}   
.body-link-small {
  text-decoration: none;
}
.body-link-small:hover {
  text-decoration: underline;  
}

/* TODO: download links must be hidden buttons??? */
.download-links {
  background: none; 
  border:none; 
}
.download-link {
  color: green;  
  font-weight: bolder;
}
.download-link:hover {
  text-decoration: underline;  
  cursor: pointer; 
}
.know-how-text {
  font-size: 26px;
  font-weight: bolder;
  font-family: impact;
}
.glossary-list li {
  list-style-type: none;
}
.download-list-wrapper {
  width: 300px;
  margin: auto;
  text-align: center !important;  
}
.download-list {  
  text-align: center;
  padding-left: 70px ;
}
.download-list li {
  list-style-type: circle;
  text-align: left;
}
.download-list a {
  font-weight: bold;
  text-decoration: none;
  color: #444;

}
.download-list a:visited {  
  color: #444;
}

.download-list a:hover {
  font-weight: normal;
  text-decoration: 3px underline lightgreen;
}
.image-text-left {
  text-align: left;
  padding:2px;
  font-size: 16px;
}

/* ************** cards *************** */

.card-container {    
  justify-content: center;
  display: flex;  
  height:auto;
  width: 100%;  
}

.card {  
  margin: 5px;
  padding: 5px;
  border: 1px dotted green;

  /*word-break: break-all;*/
  white-space: normal;
}
.card-img {
  height: 200px !important;
  width: 200px !important;  
  text-align: center;
}
.card ul li {
  padding: 1px;
  font-size: 12px;
  text-align: left;
  color: gray;
  padding-top: 1px; 
}
.card-sml {
  min-height: 100px;
  min-width: 100px;  
}
.card-lrg {
  min-height: 200px;
  min-width: 200px;  
}
.card-title-sml {
  font-weight: bolder;
  color: #000;
  font-stretch: expanded;
  font-size: 10px;
}
.card-title-lrg {
  font-weight: bolder;
  color: #000;
  font-stretch: expanded;
  font-size: 14px;
}
.card-text-sml{
  font-weight: normal;
  color: darkgray;  
  font-size: 12px;
}

.card-icon-md {
  font-size: 36px;
  margin: 2px;
}
.card-icon-lrg {
  font-size: 42px;
  margin: 2px;
}
.card-icon-lg:hover {
  color:#000 !important;
}

.card-icon {
  text-align: left;
}

/* ------ flex container ------- */

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row { margin: 0 -5px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* ------ mobile UX ------- */
@media screen and (max-width: 992px) {   
  .card-container {
    flex-direction: column;    
  }  
  .card-lrg  {
    width: 100%;
  }
  .card-sml  {
    width: 100%;

  }
}


/* ************** images *************** */
.logo-large {
  height:400px; 
  width:400px;
}
.logo-small {
  height:50px !important; 
  width:50px !important;  
  align-items: center;
  margin-top:25px;
}
.header-logo-lrg {  
  align-items: center;
  /*width: 100%;
  height:80px;*/  
  height:400px; 
  width:100%;
}  
.header-logo-content-lrg {
  border-radius: 50%;
  width: 400px;
  height: 100%;
  background-color: #fff;    
  background-size: 100% 100%;
  background-repeat: no-repeat;  
  background-image: url('/assets/images/blackbaobab-logo-tree-trans-sml.svg');
  display: inline-block;
}
.header-logo-sml {  
  align-items: center;
  width: 100%;
  height:80px;  
}  
.header-logo-content-sml {
  border-radius: 50%;
  width: 80px;
  height: 100%;
  background-color: #fff;    
  background-size: 100% 100%;
  background-repeat: no-repeat;  
  background-image: url('/assets/images/blackbaobab-logo-tree-trans-sml.svg');
  display: inline-block;
}
.header-logo-content-sml:hover {  
  background-color: lightgreen;    
  width: 80px;
  height: 100%;   
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('/assets/images/blackbaobab-logo-home.svg');
  display:inline-block;
}

/* *** WITH TEXT ON SIDE *** */
.image-with-text-parent {
  margin: 1rem;
  padding: 2rem 2rem; 
  display: flex;
}
.image-with-text-child {  
  margin: 5px;
  width: 50%;
}

.resized-image-with-text-parent {
  padding: 0 !important;
  margin: 0 0 !important;
  border: 1px dotted #000;
}

.image-wrap {
    min-width:200px;
    min-height:200px;
    max-width: auto;
    max-height: auto;        
}
.resized-image {
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;                      
}

/* ************** icons *************** */

.fa-card-icon {
    color: #000 !important;    
}
.fa-card-icon:hover {
    color: lightgreen !important;    
}
.icon-wrap {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  padding: 0.25em;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  justify-content: center; 
  align-items: center;
}
.icon-wrap:hover {      
  background-color: lightgreen;
  cursor: pointer; /* Indicates interactivity */
}
.social-media-icon-link {
  text-decoration: none;
} 
.social-media-icon {
  font-size: 36px; 
  margin-right: 10px;
}
.thinking-icon::before {
  content: "\1F914"; 
  font-size: 24px;  
}
/*.undp-sdg-icons-wrapper {
  width: 100% !important;
  height: auto;
  text-align: center;
}*/
.undp-sdgs-title-text {
  font-size: 10px;
  font-weight: bold;
  color: #000;
}
.undp-sdgs-icon{
  width: 100% !important;
  height: auto;
  text-align: center;  
}

/* ---- font awesome --- */
.fa {    
  color: #000;
}
.fa-neutral {
  color: #000;
}
.fa:hover > .fa-neutral {
  color: #000 !important;
  cursor: none;
}
.fa:hover {  
  color: #fff !important;
  cursor: pointer;
}

.fa-check {
  color: green;
}

/* ************** buttons *************** */
.know-how-button {
  text-decoration: none;    
}
.know-how-button:hover {
  color: lightgreen;
  cursor: pointer;
}

.know-how-button-icon:hover > .thinking-icon::before {
  cursor: pointer;
  content: "\1F609"; 
}
.basic-button-square {
  border: none;
  border-radius: 4px;
  background-color: lightgrey !important;
  color: #000;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  cursor: pointer;  
  margin:2px;  
}
.basic-button-square:hover { 
  background-color: lightgreen !important;
  color: #fff !important;
}
.basic-button-square:hover > .fa { 
  background-color: lightgreen !important;
  color: #fff !important;
}

.share-buttons-wrapper {
  display: none;  
  border-radius: 3px;
  padding: 3px;
  width:200px;
  float:right;
  min-height: 40px;  
  transition: width 2s ease;
}

/* ************** contact form  *************** */
.contact-form-container {
  display: none;  
}

form {  
  background-color: #f2f3f5;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  
}
select, textarea, input[type="text"], input[type="email"] {
  width: 80%;    
  color: grey;
  padding: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  box-sizing: border-box;
}
textarea:focus, select:focus, input:focus {
  outline: 1px solid lightgreen;
}
input.invalid {    
  border:3px solid red;
  color: #000;
}
.basic-button {
  border: none;
  border-radius: 4px;
  background-color: lightgrey !important;
  color: #000;
  min-width: 150px;
  min-height: 40px;
  text-align: center;
  cursor: pointer;  
  margin:2px;  
  font-weight: bold;
}   
.basic-button:hover {
  background-color: lightgreen !important;
  color: #fff !important;
}
.notify-button:hover > .bell {
  background-color: lightgreen !important;
  color: #fff !important;
}
.whatsapp-button {
  padding:2px;
  padding-left:7px;
  padding-right:7px;
}
.whatsapp-button:hover > .whatsapp {
  background-color: lightgreen !important;
  color: #fff !important;  
}
.close {  
  font-size: 32px;
  color: #555;
  cursor: pointer; 
  margin-bottom: 5px;
  float: right;
  margin-right: 15px;
}
.close:hover > .close-x {
  background-color: lightgreen !important;
  color: #fff !important;
}

/* ************** countdown display *************** */
.countdown-display {
  display: block;      
}

/* ************** insights page ************** */
.insight-page-wrapper {
  text-align: center;
  margin: auto;
  margin-top:20px;
  width: 80%;      
  padding: 10px;
  border:1px dotted grey;
}
.insight-page-section {
  margn-top:10px;
  margin-bottom:10px;
  height:auto;  
}
.insights-page-title {
  text-align: center !important;  
}
.insight-page-section h1 {
  text-align: left;
}
.insight-page-section h2 {
  text-align: left;
  color: darkgrey;
}
.insight-page-wrapper img {
  width: 100%;
  height: auto;
  border:2px solid #000;
}

.insight-menu a {
  text-decoration: none;
  color: #c0c0c0;
  font-weight: bolder;
}
.insight-menu a:hover {
  border-bottom: 3px solid lightgreen;
}
.share-and-print-buttons-wrapper {
  margin: auto;      
  padding: 10px;
}
.share-link {
  text-decoration: none;  
  font-weight: bold;
  font-style: normal !important;
  color:#000;
}
.share-link:hover {
  text-decoration: 3px underline lightgreen;  
  color: grey;
}

/* ************** Mobile UX *************** */
@media screen and (max-width: 768px) {
  .page-container {
    width:auto;
    border:0;
  }
  .logo-large {
    height:200px; 
    width:200px;
  }
  .social-media-icon {
    font-size: 24px; 
    margin-right: 5px;
  }
  .translation-wrapper {
    float: none;
  }
}